### KATI 농식품수출정보 _ 품목별 데이터.xlsx 
직접 저장해서 사용해야 함. api 없음.

In [2]:
import os
import pandas as pd

In [7]:
folder_path = "raw_imexport"  # raw data 폴더 경로
trade_index_file = "무역수지.xlsx"  # 무역수지 저장 파일 이름 지정
output_folder = "output/imex/"  # 출력 폴더 지정

In [8]:
# 무역수지 read
trade_index_df = pd.read_excel(os.path.join(folder_path, trade_index_file))
trade_index_df = trade_index_df.iloc[:-1,:]

trade_index_df['datadate'] = trade_index_df[trade_index_df.columns[0]].str.extract(r'(\d+)')
trade_index_df

    Unnamed: 0     무역수지 datadate
0      201401월      814   201401
1      201402월      850   201402
2      201403월    3,505   201403
3      201404월    4,394   201404
4      201405월    4,970   201405
..         ...      ...      ...
108    202301월  -12,532   202301
109    202302월   -5,323   202302
110    202303월   -4,735   202303
111    202304월   -2,653   202304
112    202305월   -2,102   202305

[113 rows x 3 columns]

In [9]:
trade_index_df['무역수지'] = trade_index_df['무역수지'].str.replace(',', '').astype(int)
trade_index_df

    Unnamed: 0   무역수지 datadate
0      201401월    814   201401
1      201402월    850   201402
2      201403월   3505   201403
3      201404월   4394   201404
4      201405월   4970   201405
..         ...    ...      ...
108    202301월 -12532   202301
109    202302월  -5323   202302
110    202303월  -4735   202303
111    202304월  -2653   202304
112    202305월  -2102   202305

[113 rows x 3 columns]

In [11]:
result_dfs = []

# pummok_num => 농산물_코드병합.xlsx 참고
for pummok_num in range(1, 30):
    file_name = f"raw_imexport_{pummok_num}.xlsx"
    file_path = os.path.join(folder_path, file_name)
    
    if os.path.isfile(file_path):
        temp_df = pd.read_excel(file_path)

        temp_df = temp_df.rename(columns=temp_df.iloc[3])
        temp_df = temp_df.iloc[4:,:]

        def fill_year(row):
            if pd.notna(row['월']) and not pd.isna(row['년도']):
                fill_year.current_year = row['년도']
            return fill_year.current_year

        fill_year.current_year = temp_df.loc[temp_df['월'] == 1, '년도'].iloc[0] - 1
        temp_df['년도'] = temp_df.apply(fill_year, axis=1)

        my_condition = [1,2,3,4,5,6,7,8,9,10,11,12]
        # temp_df.iloc[:,1].isin(my_condition)
        temp_df = temp_df.loc[temp_df.iloc[:,1].isin(my_condition)]

        temp_df = temp_df.astype({'년도':'string', '월':"string"})
        temp_df['월'] = temp_df['월'].apply(lambda x : str(x).zfill(2))
        temp_df['datadate'] = temp_df['년도'] + temp_df['월']

        imex_df = pd.merge(temp_df, trade_index_df, left_on='datadate', right_on='datadate', how='outer')
        imex_df = imex_df[['datadate', '수출(중량)', '수출(금액)', '수입(중량)','수입(금액)','무역수지']]
        imex_df.to_excel(os.path.join(output_folder, f"imexport_{pummok_num}.xlsx"), index=False)
    else:
        print(f"{file_name}파일 없음. 건너뜀.")

raw_imexport_1.xlsx파일 없음. 건너뜀.
raw_imexport_12.xlsx파일 없음. 건너뜀.
raw_imexport_16.xlsx파일 없음. 건너뜀.
raw_imexport_17.xlsx파일 없음. 건너뜀.
raw_imexport_18.xlsx파일 없음. 건너뜀.
raw_imexport_22.xlsx파일 없음. 건너뜀.
raw_imexport_24.xlsx파일 없음. 건너뜀.
raw_imexport_25.xlsx파일 없음. 건너뜀.
raw_imexport_26.xlsx파일 없음. 건너뜀.
raw_imexport_27.xlsx파일 없음. 건너뜀.
raw_imexport_28.xlsx파일 없음. 건너뜀.
raw_imexport_29.xlsx파일 없음. 건너뜀.